<!-- components/genealogy-graph/genealogy-graph.component.html -->
<div class="graph-container">
  <div class="graph-toolbar">
    <button mat-icon-button (click)="fitGraph()" matTooltip="Fit to screen">
      <mat-icon>zoom_out_map</mat-icon>
    </button>
    <button mat-icon-button (click)="resetLayout()" matTooltip="Reset layout">
      <mat-icon>replay</mat-icon>
    </button>
    <div class="subtree-toggle-container">
      <mat-checkbox
        [ngModel]="subtreeMode()"
        (ngModelChange)="subtreeMode.set($event)"
        color="primary"
        class="subtree-toggle"
      >
        {{ subtreeModeLabel() }}
      </mat-checkbox>
      <mat-icon
        class="info-icon"
        [matTooltip]="subtreeModeTooltip()"
        matTooltipPosition="below"
      >
        info_outline
      </mat-icon>
    </div>
    <span class="toolbar-spacer"></span>
    <span class="node-count" [ngPlural]="cultures().length">
      {{ cultures().length }}
      <ng-template ngPluralCase="=0"> nodes</ng-template>
      <ng-template ngPluralCase="=1"> node</ng-template>
      <ng-template ngPluralCase="other"> nodes</ng-template>
    </span>
  </div>
  <div #cyContainer class="graph-area"></div>
  <div id="cyNavigator" class="cytoscape-navigator"></div>
</div>
